.groupPageMenuContainer {
    z-index: 998;
    margin-top: 80px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #7B68EE, #C4BAFF);
}

.groupPageMenuButtonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.groupPageMenuButton {
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}

.groupPageMenuSpacer {
    width: 200px;
}

.active {
    color: white;
}