.mediaSubTab {
    z-index: 998;
    margin-top: 130px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    background: #c3c3c4;
}

.mediaMenuButtonContainer{
    /* position: fixed; */
    display: flex;
    gap: 20px;
    margin-left: 1060px;
}