.container {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
  }

.close {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
font-size: 18px;
cursor: pointer;
}

.inputbox {
box-sizing: border-box;
padding: 1.004rem 2.678rem 0.943rem 2.678rem;
/* width: 23.7696rem; */
height: 3.3478rem;
margin: 3px;
/* position: absolute; */
/* left: 3.571rem; */
/* top: 10.3783rem; */
font-size: 1.1159rem;
font-weight: 400;
line-height: 1.2125;
color: black;
/* font-family: Inter, 'Source Sans Pro'; */
white-space: nowrap;
background-color: #e4d4f9;
border-radius: 3.3478rem;
}

.passwordForm {
    display: flex;
    gap: 10px; /* 요소들 사이 간격 */
    align-items: center;
    flex-direction: row;
}

.loginsubmitbutton {
/* width: 8.3696rem; */
height: 3.571rem;
/* position: absolute; */
left: 11.2982rem;
top: 20.3333rem;
font-size: 20px;
font-weight: 400;
line-height: 1.2125;
color: #ffffff;
/* font-family: Inter, 'Source Sans Pro'; */
font-size: medium;
white-space: nowrap;
display: flex;
align-items: center;
justify-content: center;
background-color: #a05bf9;
border-radius: 4.7986rem;
border-color: #a05bf9;
}