.loginBackGround {
  z-index: 20000;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 30px 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

/* Add any other styles you need for the modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logintitle {
  font-size: 3.2rem;
  font-weight: 700;
  top: 30px;
}

.inputbox {
  box-sizing: border-box;
  padding: 1.004rem 2.678rem 0.943rem 2.678rem;
  width: 23.7696rem;
  height: 3.3478rem;
  margin: 3px;
  /* position: absolute; */
  /* left: 3.571rem;
  top: 10.3783rem; */
  font-size: 1.1159rem;
  font-weight: 400;
  line-height: 1.2125;
  color: black;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  background-color: #e4d4f9;
  border: none;
  border-radius: 3.3478rem;
}

.inputbox::placeholder {
  color: #bebebe;
}

.checkbox {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginsubmitbutton {
  width: 8.3696rem;
  height: 3.571rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  /* font-family: Inter, 'Source Sans Pro'; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a05bf9;
  border: none;
  border-radius: 4.7986rem;
  border-color: #a05bf9;
  cursor: pointer;
}

.errormessage {
  color: red;
  opacity: 80%;
}

.loginothersdiv {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 원하는 간격 크기로 조정하세요 */
}

.loginModalImg {
  height: 50px;
}

.socialLogin {
  width: 500px;
}
