.Container {
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 23.252px;
}

.SignupHeader{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputbox::placeholder {
    color: gray;
  }