.chatMain {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}

.chatBody {
  height: 88%;
  overflow: auto;
  flex-direction: column_reverse;
}

.chatFooter {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatFooterContent {
  margin: auto;
  display: flex;
}

input#messageInput {
  background-color: rgba(190, 190, 190, 0.7);
  border: none;
  width: 320px;
  height: 45px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  font-size: 17px;
}

.msgSendBtnWrapper {
  width: 45px;
  height: 45px;
  margin-left: auto;
}

#msgSendBtn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
