.chatMain {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}

.chatBody {
  height: 496px;
  overflow: auto;
}

.chatFooter {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatFooterContent {
  margin: auto;
}

input#messageInput {
  background-color: rgba(190, 190, 190, 0.7);
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
  margin-right: 15px;
}
