@font-face {
  font-family: "NanumSquare-Extrabold";
  font-weight: normal;
  src: url("./fonts/NanumSquareEB.ttf") format("truetype");
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  font-family: "NanumSquare-Extrabold";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 40%, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:start:decrement,
.sub-menu::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 1px;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 1px;
}
