.artistFeedComment {
  display: block;
  position: relative;
}

.artistFeedCommentHeader {
  display: flex;
  align-items: flex-start;
}

.artistFeedCommentHeaderInfo {
  align-items: center;
  display: flex;
  min-width: 0;
}

.artistFeedCommentHeaderProfileWrapper {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.artistFeedCommentHeaderProfile {
  background: #e9eef4;
  border-radius: inherit;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.artistFeedCommentHeaderImgWrapper {
  aspect-ratio: auto 32 / 32;
  content-visibility: auto;
  contain-intrinsic-size: 32px;
  width: 100%;
  height: 100%;
}

.artistFeedCommentHeaderImg {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.artistFeedCommentHeaderNameCommentWrapper {
  display: block;
  margin-left: 8px;
  overflow: hidden;
}

.artistFeedCommentHeaderNameWrapper {
  align-items: center;
  display: flex;
}

.artistFeedCommentHeaderName {
  font-weight: bold;
  display: block;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artistFeedCommentHeaderDateWrapper {
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.artistFeedCommentHeaderDate {
  color: #8e8e8e;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 14px;
}

.artistFeedCommentBodyCommentWrapper {
  color: #111;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  overflow-wrap: break-word;
  padding: 7px 0 7px 40px;
  position: relative;
  white-space: pre-line;
  word-break: break-word;
  z-index: 5;
  max-width: 270px;
}

.artistFeedCommentUserDelete {
  height: 30px;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 30px;
  color: #e4e6ea;
  position: absolute;
  top: 5px;
  left: 280px;
}
