.artistFeedItem {
  display: block;
  border-bottom: 2px solid #000;
  padding-bottom: 15px;
  padding-top: 25px;
  min-width: 1000px;
}

.aritstFeedHeader {
  display: flex;
  align-items: flex-start;
}

.artistFeedInfo {
  display: flex;
  align-items: center;
  min-width: 0;
}

.artistFeedProfile {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

.artistFeedInfo {
  display: block;
  margin-left: 8px;
  /* overflow: hidden; */
}

.artistFeedArtistNameWrapper {
  align-items: center;
  display: flex;
}

.artistFeedArtistName {
  font-size: 14px;
  line-height: 17px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.artistFeedCreateTimeWrapper {
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.artistFeedCreateTime {
  color: #8e8e8e;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 14px;
}

.artistFeedContent {
  padding-left: 5px;
  display: block;
  padding-top: 15px;
  cursor: pointer;
  font-size: 20px;
  line-break: anywhere;
  white-space: pre-line;
  word-break: break-all;
  line-height: 21px;
}

.artistFeedItemContent {
  max-width: 1060px;
}

.feedImgContainer {
  max-width: 707px;
}

.artistFeedFooter {
  padding-left: 10px;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}

.artistFeedFeedInfo {
  display: flex;
  flex-shrink: 0;
}

.artistFeedLike {
  margin-top: 25px;
  display: block;
  width: 26;
  height: 26;
  margin-right: 30px;
}

.artistFeedLikeImg {
  cursor: pointer;
}

.artistFeedLikeCount {
  position: absolute;
  padding-top: 15px;
  display: inline-block;
}

.artistFeedComment {
  margin-top: 25px;
  display: block;
  width: 20;
  height: 26;
}

.artistFeedCommentImg {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 15px;
}

.artistFeedCommentRealCount {
  position: absolute;
  padding-top: 15px;
  display: inline-block;
}

.artistFeedBookmarkImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
