.artistList {
  margin: 180px auto 20px;
  min-width: 1102px;
  position: relative;
  transform: translate(0px);
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
  will-change: transform;
  z-index: 1;
}

.artistBoard {
  display: flex;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: pan-y;
  position: relative;
}

.prevButton,
.nextButton {
  padding-bottom: 90px;
  font-size: 4rem;
  font-weight: 100;
  color: #7b68ee;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
