.cardsContainer {
  display: flex;
  /* justify-content: space-between; */
  margin: 50px 200px;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 calc(20% - 10px);
  margin-right: 15px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  background-color: #D2CDF0;
  height: 350px;
  width: 250px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 70%;
}