.shopCard {
    width: 300px;
    margin-right: 15px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;

    font-weight: 800;
    background-color: #D2CDF0;
    height: 350px;
    line-height: 0px;
    color: white;
  }
  
  .shopCard img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .shopCardInfo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

