.shopDetailContentContainer {
    position: absolute;
    margin-top: 185px;
    width: 95%;
}

.shopDetailBasketContainer {
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.shopDetailBasketButton {
    display: flex;
    align-items: center;
}

.shopDetailBasketIcon {
    height: 50px;
    width: 50px;                                   
    margin-right: 20px;
    margin-top: -10px;
}

.shopDetailToListButton {
    border: none;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
}