.shopUpdateBackground {
    z-index: 999;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 30px 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .shopUpdateDetail {
    display: block;
    width: 40%;
    height: 80%;
  
    z-index: 999;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
  
    overflow-y: scroll;
    overflow-x: hidden;

  }
  
  .shopUpdateDetail::-webkit-scrollbar {
    width: 10px;
  }
  
  .shopUpdateDetail::-webkit-scrollbar-thumb {
    background-color: #7b68ee;
    border-radius: 10px;
  }
  
  .shopUpdateDetail::-webkit-scrollbar-button:vertical:start:decrement,
  .subMenu::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 20px;
  }
  
  .sotificationDetail::-webkit-scrollbar-button:vertical:end:decrement {
    display: block;
    height: 20px;
  }
  
  .shopUpdateClose {
    height: 60px;
    position: absolute;
    top: 70px;
    right: 420px;
    width: 50px;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 70px;
    color: #e4e6ea;
  }
  
  .shopUpdateDetailContent {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1.85;
    box-sizing: border-box;
    font-size: 16px;
    color: #666;
    min-height: 650px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 20px 30px 30px;
    margin-top: 95px;
  }

  .shopUpdateIcon {
    height: 30px;
    margin-right: 40px;
    cursor: pointer;
  }

  .shopUpdateHeader {
    position: fixed;
    width: 100%;
  }

  .inputValueContainer {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .inputValue {
    margin: 20px 0px;
  }