.mainbanner {
  background-image: url(../../assets/images/noLoggedIn_mainbanner_moving2.gif);
  background-size: cover;
  background-position: center;
  height: 270px;
  color: white;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  line-height: 220px;
  margin-top: -120px;
}

.groupsNew {
  font-size: 30px;
  font-weight: 800;
  margin: 50px 130px;
}

.groupsFollowing {
  font-size: 30px;
  font-weight: 800;
  margin: 50px 130px;
}

.underline {
  display: flex;
  justify-content: space-between;
  margin: 0px 180px;
  height: 3px;
  background-color: black;
}

.newList {
  text-decoration: none;
  background-color: #f5f7fa;
}

.moveToGroupContainer {
  text-align: center;
  width: 100%;
}

.moveToGroup {
  font-size: 50px;
}

.cardList {
  margin-left: 30px;
}