.openLive {
  padding-top: 200px;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.openLiveTitle {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  font-size: 1.375em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #e4e6ea;
}
