.oneLineAnnouncement {
  font-size: 25px;
  border-radius: 30px;
  border: solid 3px lightgrey;
  text-align: center;
  width: 60%;
  margin-left: 4%;
  display: flex;
  justify-content: start;
}

.oneLineAnnouncementIconContainer {
  display: flex;
  justify-content: start;
  margin-left: 2%;
  align-items: center;
}

.announcementIcon {
  height: 35px;
}

.oneLineAnnouncementContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
