.announcementBackGround {
  z-index: 20000;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 30px 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.announcementDetail {
  display: flex;
  width: 770px;
  height: 910px;

  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid black;
  border-radius: 20px;

  flex-direction: column;
}

.announcementDetail::-webkit-scrollbar-button:vertical:start:decrement,
.sub-menu::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 20px;
}

.announcementDetail::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 20px;
}

.announcementDetail ::-webkit-scrollbar {
  width: 2px;
}

.announcementDetail ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 40%, 0.4);
  border-radius: 10px;
}

.announcementDetailClose {
  z-index: 23000;
  height: 60px;
  position: absolute;
  right: -70px;
  width: 50px;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 70px;
  color: #e4e6ea;
}

.announcemenDetailHeader {
  padding: 15px 30px 20px;
  display: block;
}

.announcementDetailTitle {
  font-size: 28px;
  line-height: 1.25;
  font-weight: bold;
}

.announcementDetailTime {
  display: block;
  color: #adb1b8;
  font-size: 14px;
  line-height: 17px;
}

.announcementDetailContent {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.85;
  box-sizing: border-box;
  border-top: 1px solid #e4e6ea;
  border-bottom: 1px solid #e4e6ea;
  font-size: 16px;
  color: #666;
  min-height: 650px;
  max-height: 650px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 20px 30px 30px;
  overflow: auto;
}
