.announcementList {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.announcementTitle {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}

.textTitle {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 100px;
}

.announcementBoard {
  border-top: 1px solid #e4e6ea;
}
