.announcement {
  padding-top: 100px;
}

.pagingWrapperParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagingWrapper,
.pagingInnerButtonActive {
  position: absolute;
  display: inline-flex;
  justify-content: center;
}

.pagingInnerButton {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #333;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.pagingInnerButton:hover,
.pagingInnerButton.pagingActive {
  color: #7b68ee;
  font-weight: 600;
  text-decoration: underline;
}
