.announcementItem {
  display: block;
  grid-column: 1 / span 3;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #e4e6ea;
}

.title {
  display: block;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 24px;
  max-height: 48px;
  text-decoration: none;
  color: #222;
  margin-top: 20px;
  margin-left: 12px;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.date {
  display: block;
  font-size: 12px;
  color: #878e96;
  line-height: 21px;
  margin-top: 2px;
  margin-left: 12px;
  margin-bottom: 20px;
}
