.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImgWrapper {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.profileImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.profileNickName {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}

.registDate {
  font-family: "NanumSquare-Bold";
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}
