.artistFeedBackGround {
  z-index: 20003;
  justify-content: normal;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  left: -3000px;
  top: -3000px;
  width: 6000px;
  height: 6000px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}

.fanFeedModal {
  outline: none;
  position: fixed;
  top: -240px;
  display: block;
  left: -230px;
}

.artistFeedContent {
  margin-top: 6px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

.artistFeedView {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 1100px;
  height: 700px;
  min-height: 540px;
  overflow: hidden;
  cursor: default;
  position: relative;
}

.artistFeedCommentWrap {
  display: block;
  flex: 0 0 332px;
  position: relative;
}

.artistFeedCommentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.artistFeedCommentView {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  padding-bottom: 0px;
}

.artistFeedCommentTitle {
  display: block;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 56px;
  padding: 24px 20px 8px;
}

.artistFeedCommentCount {
  align-items: center;
  display: flex;
}

.commentCount {
  display: block;
  font-size: 18px;
  line-height: 20px;
}

.artistFeedCommentList {
  max-height: 510px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 30px 20px;
  position: relative;
}

.artistFeedCommentList::-webkit-scrollbar {
  width: 2px;
}

.artistFeedCommentList::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 40%, 0.4);
  border-radius: 10px;
}

.artistFeedScrollStart {
  display: block;
  height: 1px;
  width: 1px;
}

.aristFeedScrollCommentList {
  display: block;
}

.artistFeedCommentFooter {
  display: flex;
  flex: 0 0 109px;
  flex-direction: column;
  border-top: 1px solid #f0f0f0;
}

.artistFeedCommentWriteWrap {
  display: block;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 4px;
}

.artistFeedCommentWrite {
  display: flex;
  align-items: flex-end;
}

.artistFeedCommentInput {
  display: block;
  background-color: #f7f7f8;
  border-radius: 23px;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 46px;
  padding: 12px 10px;
}

.artistFeedCommentInputSend {
  height: 22px !important;
  background-color: transparent;
  border: none;
  color: #111;
  font-size: 16px;
  resize: none;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  white-space-collapse: preserve;
  text-wrap: wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  writing-mode: horizontal-tb !important;
}

.artistFeedCommentInputSend:focus {
  outline: none;
}

.artistFeedCommentInputSend:focus-visible {
  outline-offset: 0px;
}

.artistFeedCommentInputButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 40px;
  background-color: #fff;
  border: 0px;
  margin-left: 8px;
}

.artistFeedHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 75px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
}

.artistFeedInfoAndContent {
  width: 700px;
  height: 800px;
  border-right: 1px solid #f0f0f0;
}

.artistFeedArtistInfo {
  align-items: flex-start;
}

.artistFeedArtistImg {
  width: 46px;
  height: 46px;
}

.artistFeedArtistCircleImg {
  background: #e9eef4;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.artistFeedArtistCompact {
  display: block;
  aspect-ratio: auto 46 / 46;
  content-visibility: auto;
  contain-intrinsic-size: 46px;
  width: 100%;
  height: 100%;
}

.artistImg {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border: 0;
  max-width: 100%;
  vertical-align: top;
  aspect-ratio: auto 46 / 46;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.artistFeedArtistContent {
  margin-left: 8px;
  overflow: hidden;
}

.artistFeedArtistDetailName {
  align-items: center;
  display: flex;
}

.artistFeedArtistDetailNameInfo {
  position: absolute;
  display: block;
  font-size: 15px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 55px;
  margin-top: -62px;
}

.artistFeedArtistDetailFormatDateInfo {
  position: absolute;
  display: inline-block;
  color: #8e8e8e;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 14px;
  margin-left: 57px;
  margin-top: -24px;
}

.artistFeedDetailContent {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  word-break: break-word;
  min-height: 500px;
  max-height: 500px;
  margin-bottom: 10px;
}

.artistFeedDetailFooter {
  border-bottom-left-radius: 20px;
  border-top: 1px solid #f0f0f0;
  box-sizing: border-box;
  min-height: 75px;
  right: 332px;
  column-gap: 8px;
  display: flex;
  left: 0;
  padding: 15px 20px 26px;
}

.artistFeedHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 45px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
}

.artistScrollContent {
  -webkit-text-size-adjust: none;
  font-size: 20px;
  display: block;
  margin-left: 30px;
  max-width: 645px;
  height: 100%;
}

.artistFeedInfoAndContent ::-webkit-scrollbar {
  width: 2px;
}

.artistFeedInfoAndContent ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 40%, 0.4);
  border-radius: 10px;
}

.backButton {
  height: 40px;
  width: 40px;
  padding: 0;
  margin-left: 335px;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 5px;
}

.artistFeedInLikeImg {
  cursor: pointer;
}

.artistFeedInLikeCount {
  padding-top: 15px;
}

.artistFeedInBookmarkImg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.artistFeedBookmarkImgWrap {
  margin-top: 8px;
  margin-left: 535px;
}

.feedImgContainer {
  max-width: 404px;
}

.feedImgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
