.GroupFeedList {
  display: block;
  padding: 22px 0 60px;
  max-width: 1000px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
  will-change: transform;
  z-index: 1;
}

.GroupFeedProfile {
  align-items: center;
  display: flex;
  min-width: 0;
}

.GroupFeedBlank {
  align-items: center;
  display: flex;
  min-width: 0;
  flex-shrink: 0;
  margin-left: auto;
}

.GroupFeedBookmark {
  display: block;
  flex-shrink: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
