.GroupFeedItem {
  display: block;
  border-bottom: 2px solid #000;
  padding-bottom: 25px;
  padding-top: 25px;
}

.AritstFeedHeader {
  display: flex;
  align-items: flex-start;
}

.GroupFeedInfo {
  display: flex;
  align-items: center;
  min-width: 0;
}

.GroupFeedProfile {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

.GroupFeedInfo {
  display: block;
  margin-left: 8px;
  /* overflow: hidden; */
}

.GroupFeedGroupNameWrapper {
  align-items: center;
  display: flex;
}

.GroupFeedGroupName {
  font-size: 14px;
  line-height: 17px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.GroupFeedCreateTimeWrapper {
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.GroupFeedCreateTime {
  color: #8e8e8e;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 14px;
}

.GroupFeedContent {
  padding-left: 5px;
  display: block;
  padding-top: 15px;
  cursor: pointer;
  font-size: 20px;
  line-break: anywhere;
  white-space: pre-line;
  word-break: break-all;
  line-height: 21px;
}

.GroupFeedFooter {
  padding-left: 10px;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}

.GroupFeedFeedInfo {
  display: flex;
  flex-shrink: 0;
}

.GroupFeedLike {
  margin-top: 25px;
  display: block;
  width: 26;
  height: 26;
  margin-right: 30px;
}

.GroupFeedLikeImg {
  display: inline-block;
  margin-right: 5px;
}

.GroupFeedLikeCount {
  display: inline-block;
}

.GroupFeedComment {
  margin-top: 25px;
  display: block;
  width: 26;
  height: 26;
}

.GroupFeedCommentImg {
  display: inline-block;
  margin-right: 5px;
}

.GroupFeedCommentCount {
  display: inline-block;
}
