.groupFeedItem {
  display: block;
  border-bottom: 2px solid #000;
  padding-bottom: 25px;
  padding-top: 25px;
}

.groupFeedHeader {
  display: flex;
  align-items: flex-start;
}

.groupFeedInfo {
  display: flex;
  align-items: center;
  min-width: 0;
}

.groupFeedProfile {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}

.groupFeedInfo {
  display: block;
  margin-left: 8px;
  /* overflow: hidden; */
}

.groupFeedGroupNameWrapper {
  align-items: center;
  display: flex;
}

.groupFeedGroupName {
  font-size: 14px;
  line-height: 17px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.groupFeedCreateTimeWrapper {
  align-items: center;
  display: flex;
  margin-top: 2px;
}

.groupFeedCreateTime {
  color: #8e8e8e;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 14px;
}

.groupFeedContent {
  padding-left: 5px;
  display: block;
  padding-top: 15px;
  cursor: pointer;
  font-size: 20px;
  line-break: anywhere;
  white-space: pre-line;
  word-break: break-all;
  line-height: 21px;
}

.groupFeedFooter {
  padding-left: 10px;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}

.groupFeedFeedInfo {
  display: flex;
  flex-shrink: 0;
}

.groupFeedLike {
  margin-top: 25px;
  display: block;
  width: 26;
  height: 26;
  margin-right: 30px;
}

.groupFeedLikeImg {
  display: inline-block;
  margin-right: 5px;
}

.groupFeedLikeCount {
  display: inline-block;
}

.groupFeedComment {
  margin-top: 25px;
  display: block;
  width: 26;
  height: 26;
}

.groupFeedCommentImg {
  display: inline-block;
  margin-right: 5px;
}

.groupFeedCommentCount {
  display: inline-block;
}
