/* 헤더 아래 컨텐츠들 들어갈 부분 */
.contentContainer {
    position: absolute;
    margin-top: 150px;
    width: 95%;
    height: 100%;
}

.onelineAnnouncementContainer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.fanfeedProfileContainer {
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}

.fanfeedFeedContainer {
    width: 67%;
    float: left;
    margin-top: 2%;
}

.group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: calc(100vh - 130px);
  }
  