.myPostItemWrapper {
  /* width: 600px; */
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.myPostItemHeader {
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid black; */
  display: flex;
  cursor: default;
}

.myPostProfileWrapper {
  display: flex;
}

.myPostFeedProfileImg {
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.myPostProfileImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.myPostProfileInfo {
  padding-left: 10px;
}

.myPostNickname {
  font-size: 14px;
}

.myPostCreateDate {
  font-family: "NanumSquare-Bold";
  font-size: 14px;
}

.myPostItemBody {
  padding: 10px;
}

.myPostContentImg {
  font-size: 16px;
  padding-top: 5px;
  padding-left: 10px;
}

.myPostItemFooter {
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
  z-index: 1;
}

.myFeedFooterInfo {
  display: flex;
}


.myFeedLike {
  display: flex;
  margin-right: 15px;
}

.myFeedLikeImg {
  cursor: pointer;
  width: 55px;
  height: auto;
}

.myFeedLikeCount {
  padding-top: 15px;
}

.myFeedComment {
  display: flex;
}

.myFeedCommentImg {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 15px;
}

.myFeedCommentRealCount {
  padding-top: 15px;
}

.myPostImgContainer {
  max-width: 500px;
}

.myPostImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}