.onlineConcertItem {
  /* position: sticky; */
  margin-bottom: 20px;
  width: 270px;
  height: 150px;
  background-color: #d2cdf0;
  line-height: 30px;
  /* color: white; */
  border-radius: 30px;
  text-align: center;
}

.onlineConcertImageWrapper {
  width: 100px;
  height: 100px;
}

.concertImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
