.onlineConcertItem {
  /* position: sticky; */
  margin-bottom: 20px;
  width: 280px;
  height: 420px;
  background-color: #d2cdf0;
  line-height: 30px;
  /* color: white; */
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.onlineConcertImageWrapper {
  width: 280px;
  height: 300px;
}

.concertImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.concertInfoTextWrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.onlineConcertText {
  font-size: 20px;
}
