.liveViewMain {
  width: 100%;
  height: 100vh;
  padding-top: 180px;
  background-color: black;
}

.liveViewHeader {
  display: flex;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.leaveBtnArea {
  margin-left: auto;
  padding-right: 100px;
}

.buttonLeaveLive {
  border: 2px solid red;
  background-color: transparent;
  width: 100px;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  color: red;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.buttonLeaveLive:hover {
  box-shadow: 0 0 40px 40px red inset;
  color: white;
}

.liveViewBody {
  /* height: 100%; */
  background-color: black;
  display: flex;
  /* width: 1500px; */
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.liveVideo {
  width: 1000px;
}

.liveChat {
  width: 500px;
  height: 675px;
  padding-left: 50px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 25px;
}
