.liveItem {
  /* position: sticky; */
  margin-bottom: 20px;
  width: 280px;
  height: 420px;
  background-color: #d2cdf0;
  line-height: 30px;
  /* color: white; */
  border-radius: 30px;
  text-align: center;
}

.liveInfo {
  border-radius: 30px;
  overflow: hidden;
  height: fit-content;
}

.liveImageWrapper {
  width: 280px;
  height: 300px;
}

.liveImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.liveInfoTextWrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.liveText {
  font-size: 20px;
}
