.myPageHome {
  display: block;
  /* position: absolute; */
  position: relative;
  padding-top: 80px;
  width: 100%;
  /* background-color: #f5f7fa; */
}

.myPageHeader {
  background-color: #444;
  display: block;
  height: 150px;
}

.userNickName {
  margin: 0;
}

.userEmail {
  margin: 0;
}

.myPageBody {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-top: 50px;
  margin-left: 130px;
  margin-right: 130px;
  height: 100vh;
}

.myPageSideBar {
  width: 330px;
  /* height: 400px; */
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.myPageProfile {
  background-color: #eee7fb;
  width: 240px;
  /* height: 250px; */
  margin-left: 15px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.myPageMenu {
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.myPageMain {
  width: 750px;
  margin-left: 80px;
  margin-right: 60px;
}
